body{
    background-color: #191919;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
